h3{
  margin: 0%;
  margin-left: 3px;
}
.row{
  display: flex;
  flex-direction: row;
  padding: 1px;
  padding-left: 100px;
}
.card-style{
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  padding: 25px;
  backface-visibility: hidden;
  transform: translate2(0);
  transition: transform 0.25 ease-out;
}
.card-style:hover{
transform: scale(1.1);
}
.col-sm-3{
  width: 100%;
}
p{
  font-size: small;
}
input[type="search"]{
 
  
 background-color:cyan;
}
.App{
  text-align: center;
}

.h1Header{
  font-family: 'Bigelow Rules';
  font-size: 72px;
  color: #0ccac4;
}